.range-array {
    margin-left: 20px;
    color: white;
    .input-container {
        display: flex;
        .input-text {
            color: black;
            margin-left: 15px;
            width: 70px;
            padding: 10px;
        }
    }
}