.sort-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .item-content {
        min-width: 700px;
        display: flex;
        .item {
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: aquamarine;
            border: 1px solid rgb(8, 126, 87);
            border-top: unset;
            &.active {
                background-color: rgb(226, 226, 40) !important;
            }
            &.swapping {
                background-color: rgb(128, 15, 15) !important;
            }
        }
    }
    
}